#login {

}

.btn {
  border-radius: 10px;
}

.container-content {
  padding: 1.5rem 0;
}

#AllEventsPage {

  .event-head {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  a:hover {
    text-decoration: none;
  }

  .event-card-action {
    flex-direction: row-reverse;

    a {
      padding: 0 20px 0 30px;

      div {
        height: 50px;
        font-size: 1.7rem;
      }
    }
  }
}

#CreateEventPage {
  .input-col {
    margin-bottom: 10px;
  }
}

#EventPage {
  .MuiTableCell-sizeSmall {
    padding: 6px 4px 6px 4px;
  }

  .side-divider {
    width: 2px;
    background-color: grey;
    margin: 0 2px;
  }

  .order-book-control {
    width: 30%;
    flex-grow: 1;
    padding: 0 20px;

    &.buy {
      text-align: right;

      .MuiOutlinedInput-notchedOutline {
        border-color: #85c185;
      }

      input {
        color: #276012;
        text-align: right;
        font-size: 20px;
        font-weight: bold;

        &.Mui-disabled {
          color: #035903;
        }
      }
    }

    &.sell {

      .MuiOutlinedInput-notchedOutline {
        border-color: #f0a9a9;
      }

      input {
        color: #6f001d;
        font-size: 20px;
        font-weight: bold;

        &.Mui-disabled {
          color: #940001;
        }
      }
    }

    > div {
      display: flex;


      > div {
        flex-grow: 1;
      }
    }

    button {
      margin-top: 10px;

      .MuiSvgIcon-root {
        fill: white;
      }
    }
  }
}